# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.dungeonGame.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Alan\Desktop\unity\dungeonGame\.idea\.idea.dungeonGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
