# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.multiplayer dungeon games.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Alan\Desktop\unity\multiplayer dungeon games\.idea\.idea.multiplayer dungeon games\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
